<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="style/styles.css">
    
</head>
<body>
    <div class="page">
        <header>Weather App</header>
        
        <form action="/" method="post">
           <label for="search">Enter Your City Name</label><br><br>
           <input type="search" placeholder="Enter your City Name" id="search" name="cityName"><br><Button>Search</Button>
        </form>
       
    </div>

   
</body>
</html>